.service {
    background-color: rgb(166, 199, 233);
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    /* background-color: lightsalmon; */
}
.services{
    background-color: lightsalmon;
}