.service {
    background-color: rgb(166, 199, 233);
    color:white;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    padding: 30px;
    /* background-color: lightsalmon; */
    border-radius: 10px;
}
.services{
    background-color: lightsalmon;
    padding: 50px;
}
.service h1{
    background-color: rgb(194, 57, 166);
    border-radius: 100px;
    color: rgb(238, 231, 231);
    padding: 5px;
    
}