.pricing-card{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
     margin: auto;
    padding: 20px;
    /* background-color: rgb(169, 221, 238);  */
}
.pricing-card img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.image{

}