.pricing-card{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 30px;
    margin-left: 50px;
    color: black;
}
.pricing-card img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.image{

}
.pricing-container{
    background-color: lightsalmon;
    color: white;
}